




body {
    background-color: ;
    padding-top: 50px;


}

.input-group-addon {
	background-color:  #5587fb;
}

.bottom {
	color: white;
	background-color: #4f5e7d;
	min-height: 100px;
}



h1 {
	font-size: 100px;
	
}




.main {
	
  background-color: white;
  margin-top: 75px;
  
}

.card-heading {
	margin: 0;
}
.form-group{
	margin: 0;
}

#create-account {
	margin-top: 10px;
}

