




body {
background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
    padding-top: 50px;

}

.bottom {
	text-align: center;
	margin-top: 20px;
	color: white;
	background-color: #4f5e7d;
	text-align: center
	height: 150px;
}

.box {
	display: inline-block;
	width: 100%;
	padding: 5px;
}



h1 {
	font-size: 100px;
	
}

h3 {
	margin-top: 40px;
}


a.active {
	border-bottom-color: #4f5e7d;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}


.row {
	
}
.main {
	color: #4f5e7d;
width: 100%;
  margin-top: 120px;
}

.form-group {
	margin: 0px;
}

.form-control{
	border-color: rgba(0,0,0,.15);
	padding: 15px;

}

.create-account{
	color: #4f5e7d;
	margin-top: 30px;
}

#create-account {
	margin-top: 20px;
}

hr {
	margin-bottom: -1px;
}
